.experienceContainer {
   padding: 30px 30px;
   height: 83%;
   width: 100%;
   background-color: black;
}
.jobDes {
    text-indent: 5px;
    word-spacing: 3px;
    white-space: wrap;
    justify-content: space-between;
    color: black;
    height: 100%;
    font-weight: bold;
    background-color: white;
 }
.jobDescription {
    text-indent: 10px;
    word-spacing: 5px;
    white-space: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100%;
    background-color: white;
 }
a:hover {
    text-decoration: none;
}

div.media {
    margin-top: 30px;
    margin-bottom: 50px;
    color: black;
    background-color: white;
}

div.media .media-heading .jobTotalDuration {
    color: white;
    font-size: 14px;
    display: block;
}

div.media img {
    height: 14vmin;
    width: 14vmin;
    margin-right: 40px;
    border-radius: 50px;
}

div.media .jobDuration {
    color: black;
    background-color: white;
    font-weight: bold;
    display: block;
}

div.media .jobLocation {
    color: black;
    font-weight: bold;
    display: block;
}

.formLabel {
    font-weight: bold;
}

.certificateLink {
    color: cornflowerblue;
}

footer {
    margin-top: 20px;
    margin-bottom: 10px;
    border-top: #444444;
    text-align: center;
}
.inline {
    display:inline-block;
  }
  
  .newline {

    width:100%; 
	height:30px; 
  }
footer a {
    color: black;
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
